.form{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 50px;
}

.form form{
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.945);
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.form h2{
    color: #FFF;
}