@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Noto+Sans+Tangsa:wght@400;500&family=Poppins:wght@200;500&display=swap');

.banner{
    padding: 25px;
    background-color: #000000;
    text-align: center;
}

.banner h1{
    font-size: 3em;
    color: #E50914;
    font-family: 'Bebas neue';
}